<%if current_user.role == 'normal_user'%>
  <%= link_to 'Nova Encomenda', 'orders/new' %>
<%end%>
 |
<%= link_to 'Encomendas Pendentes', 'pending#pending' %> |
<%= link_to 'Encomendas Canceladas', 'canceled#canceled' %> |
<%= link_to 'Encomendas Aceitas', '/accepted' %> |
<%= link_to 'Encomendas Concluidas', '/concluded' %>

<p id="notice"><%= notice %></p>

<h1>Encomendas Pendentes</h1>

<%if current_user.role == 'normal_user'%>
    <table>
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Preco</th>
          <th>Data de Entrega</th>
          <th>Descricao</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id%></td>
            <td><%= order.price %></td>
            <td><%= order.deadline %></td>
            <td><%= order.description %></td>
            <td><%= order.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<%else%>
    <table>
      <thead>
      <tr>
        <th>Codigo</th>
        <th>Preco</th>
        <th>Data de Entrega</th>
        <th>Descricao</th>
        <th>Status</th>
        <th>User</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
          <tr>
            <td><%= order.id%></td>
            <td><%= order.price %></td>
            <td><%= order.deadline %></td>
            <td><%= order.description %></td>
            <td><%= order.status %></td>
            <td><%= order.user.email %></td>
              <td><%= link_to 'Concluir', conclude_order_path(order.id), {method: 'post'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<%end%>
<br>
