<header id="pa_header">
  <!-- BEGIN MENU -->
  <div class="menu_area_private">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- LOGO -->
          <br>
          <a class="navbar-brand" href="http://0.0.0.0:3000/">Joia da <span>Europa</span></a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <br>
          <div class="menu_login">
            <a href="#">PT</a> |
            <a href="#">EN</a>
          </div>

          <ul id="top-menu" class="nav navbar-nav navbar-right main_nav">
            <li><a href="http://0.0.0.0:3000/">Home</a></li>
            <li><a onClick="linkTo('http://0.0.0.0:3000/orders')" href="">Sua Conta</a></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, { method: 'delete' }%></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </div>
  <!-- END MENU -->
</header>
<div class="pa_container">

  <%if current_user.role == 'normal_user'%>
  <%= link_to 'Nova Encomenda', 'orders/new' %>
<%end%>
 |
<%= link_to 'Todas Encomendas', '/orders' %> |
<%= link_to 'Encomendas Pendentes', 'pending#pending' %> |
<%= link_to 'Encomendas Canceladas', 'canceled#canceled' %> |
<%= link_to 'Encomendas Aceitas', '/accepted' %> |
<%= link_to 'Encomendas Concluidas', '/concluded' %>

<p id="notice"><%= notice %></p>

<h1>Encomendas Pendentes</h1>
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Resultados</div>
    <%if current_user.role == 'normal_user'%>
    <!-- Table -->
    <table class="table">
      <thead>
      <tr>
        <th>Codigo</th>
        <th>Preco</th>
        <th>Data de Entrega</th>
        <th>Descricao</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
          <tr>
            <td><%= order.id%></td>
            <td><%= order.price %></td>
            <td><%= order.deadline %></td>
            <td><%= order.description %></td>
            <td><%= order.status %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<%else%>
    <table class="table">
      <thead>
      <tr>
        <th>Codigo</th>
        <th>Preco</th>
        <th>Data de Entrega</th>
        <th>Descricao</th>
        <th>Status</th>
        <th>User</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
          <tr>
            <td><%= order.id%></td>
            <td><%= order.price %></td>
            <td><%= order.deadline %></td>
            <td><%= order.description %></td>
            <td><%= order.status %></td>
            <td><%= order.user.email %></td>
            <td><%= link_to 'Aceitar', accept_order_path(order.id), {method: 'post'} %></td>
            <td><%= link_to 'Cancelar', cancel_order_path(order.id), {method: 'post'}%></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<%end%>
<br>

<!--=========== END FOOTER ================-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="assets/jquery.ui.map"></script>
<script src="assets/wow.min.js"></script>
<script src="assets/bootstrap.min.js"></script>
<script src="assets/jquery.superslides.min.js"></script>
<script src="assets/slick.min.js"></script>
<script src="https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js"></script>
<script src="assets/modernizr.custom.js"></script>
<script src="assets/classie.js"></script>
<script src="assets/elastic_grid.min.js"></script>
<script src="assets/portfolio_slider.js"></script>
<script src="assets/custom.js"></script>
<script src="assets/login.js"></script>

</div>

<br><br><br><br>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="footer_left">
          <!--=========== Designed By WpFreeware Team ================-->
          <p>Jóia da Europa Unipessoal, Lda. &copy; All Rights Reserved.</p>
          <!--=========== Designed By WpFreeware Team ================-->
        </div>
      </div>

    </div>
  </div>
</footer>