<%= link_to 'Nova Encomenda', 'orders/new' %> |
<%= link_to 'Encomendas Pendentes', '/pending' %> |
<%= link_to 'Encomendas Canceladas', '/canceled' %> |
<%= link_to 'Encomendas Concluidas', '/concluded' %>

<h1>Nova Encomenda</h1>

<%= render 'form', order: @order %>

<%= link_to 'Cancelar', pending_path %>
